@charset "UTF-8";
/*@charset "ISO-8859-1";*/

	body { background-color:#003264; }
	h1 { font-size:120%; }
	a { text-decoration:none; }

	#div { border: 1px solid green; }

	div.prop {
		margin-right:1em;
		width:100%;
		text-align:right;
		color:black;
		font-weight:bold;
		/*display:inline-block;*/
	}
	div.prop spanX {
		width:12em;
		text-align:left;
	}

	.containerL { 
		float:left;
		width:25em;
		background-color:#DDDDDD;
		padding:1em;
		border:1px solid black;
	}
	.containerL spanX { width:10em; }
	.containerL input { text-align:center;}
	.containerL input[type="button"] { width:10em; }

	.red * input { background-color:red; }
	.readonly * input { background-color:#CCCCCC; }
	.json_input {
		text-align:center;
		color:green;
		width:10em;
		display:inline-block;
		/*display:inline;/*make width useless*/
		padding-right:0em;
	}
